.Pupover {
  position: relative;
}

.list {
  width: 100%;
  position: absolute;

  color: var(--inverted-primary-color);
  border-radius: 10px;

  z-index: 100;
  padding: 15px;

  // background-color: var(--primary-color);
  // box-shadow: 4px 4px 1px var(--primary-color);
}

.item {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: none;
  outline: none;
  color: var(--inverted-primary-color);
  cursor: pointer;
}

.btn {
}

.bottomLeft {
  right: 0;
  top: 100%;
}
