.Pupover {
  position: relative;
}

.list {
  width: 100%;
  position: absolute;
  background-color: var(--primary-color);
  color: var(--inverted-primary-color);
  border-radius: 10px;
  box-shadow: 4px 4px 1px var(--primary-color);
  z-index: 100;
  padding: 15px;
}

.item {
  display: block;
  padding: 10px 15px;
}

.btn {
  position: absolute;
  right: 0;
}
