.Button {
  cursor: pointer;
  padding: 3px;
  margin: 0px;
  font-size: 14px;

  &:hover {
    opacity: 0.9;
  }
}

.clear {
  border: none;
  background-color: none;
  outline: none;
}

.primary {
  color: rgb(255, 255, 255);
  background-color: var(--primary-color);
}

.outline {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  background-color: none;
}

.medium {
  font-size: var(--font-size-m);
}

.large {
  font-size: var(--font-size-l);
}
