.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--inverted-bg-color);
  position: relative;

  transition: width 0.4s;
}

.isCollapsed {
  width: var(--sidebar-width-collapsed);
}

.isCollapsedBtn {
  display: block;
  margin-left: auto;

  cursor: pointer;
}

.items {
  margin: 20px;
}
