.ArticleList {
  margin: 5px;
}

.SMALL {
  display: flex;
  flex-wrap: wrap;

  gap: 30px;

  .card {
  }

  .row {
    display: flex;
    gap: 30px;
  }
}

.BIG {
  .card {
    margin-bottom: 20px;
  }
}
