.size_s {
  .title {
    font: var(--font-m);
    color: var(--primay-color);
  }

  .text {
    font: var(--font-s);
    color: var(--secondary-color);
  }
}

.size_m {
  .title {
    font: var(--font-l);
    color: var(--primay-color);
  }

  .text {
    font: var(--font-m);
    color: var(--secondary-color);
  }
}

.size_l {
  .title {
    font: var(--font-xl);
    color: var(--primay-color);
  }

  .text {
    font: var(--font-l);
    color: var(--secondary-color);
  }
}

.error {
  .title {
    font: var(--font-l);
    color: var(--red-dark-color);
  }

  .text {
    font: var(--font-m);
    color: var(--red-light-color);
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
