:root {
  --font-family-main: Consolas, "Times New Roman", Serif;

  --font-size-s: 12px;
  --font-line-s: 20px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  --font-size-xl: 28px;
  --font-line-xl: 36px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

  --navbar-height: 50px;

  --sidebar-width: 200px;
  --sidebar-width-collapsed: 90px;

  --modal-z-index: 2;
  --overlay-color: rgb(0, 0, 0, 0.6);

  --red-light-color: rgb(240, 98, 98);
  --red-dark-color: red;

  --overlay-color: rgba(0 0 0 / 60%);
}
