.ArticlesPageFilters {
  border: 1px solid var(--primary-color);
  padding: 10px;
}

.search {
  margin-top: 15px;
}

.filters {
  display: flex;
  justify-content: space-between;
}

.tabs {
  margin: 10px 0px;
}
