@import url("./reset.scss");
@import url("./vars/global.scss");

@import url("./themes/dark.scss");
@import url("./themes/normal.scss");

.app {
  font: var(--font-m); // по умолчанию используется во всем приложении

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh; //растягивает приложение на всю высоту браузера
}

.content-page {
  display: flex;
}

.page_wrapper {
  flex-grow: 1;
  padding: 15px;
}
