@import url("./reset.scss");
@import url("./vars/global.scss");

@import url("./themes/dark.scss");
@import url("./themes/normal.scss");
@import url("./themes/orange.scss");

body {
  color: var(--primary-color);
  font: var(--font-m); // по умолчанию используется во всем приложении
}

.app {
  background: var(--bg-color);
  min-height: 100vh; //растягивает приложение на всю высоту браузера
}

.content-page {
  display: flex;
}

.page_wrapper {
  flex-grow: 1;
  padding: 15px;

  height: calc(100vh - var(--navbar-height));
  overflow-x: auto;
  width: 100%;
}
