.orange {
  --bg-color: rgb(234, 39, 39);
  --inverted-bg-color: rgb(229, 233, 100);

  --primary-color: rgb(255, 234, 4);
  --secondary-color: rgb(191, 235, 16);

  --inverted-primary-color: rgb(243, 255, 211);
  --inverted-secondary-color: rgb(87, 214, 7);

  --skeleton-shadow: rgb(239, 215, 94);
  --skeleton-color: rgb(236, 229, 21);
}
